main {
  background-image: url(img/history-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
}
p {
  /* margin: 0; */
}
.text-shadow {
  text-shadow: 0 0 10px black;
}
.history-title {
  background-color: aqua;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  gap: 0.5rem;
}
.history-title p {
  color: var(--white-color);
}
.history-title p:nth-child(1) {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}
.history-title p:nth-child(2) {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
}
.history-card-container {
  background-color: brown;
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0.5rem;
}
/* .history-card-row {
  width: 100%;
  height: 20%;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
} */
.card {
  width: 30%;
  height: 20%;
  background-color: var(--white-color);
  border-radius: 12px;
}

.card:hover {
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .history-card-container {
    background-color: brown;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .history-card-row {
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    width: 90%;
    height: 30%;
  }
  /* .title-history {
    text-align: center;
  } */
  /* .history-card-section > section {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  } */
  /* .history-card-section > section > .card { */
  /* flex-direction: column; */
  /* align-items: center; */
  /* text-align: center; */
  /* height: 200px; */
  /* width: 100%; */
  /* } */
}
